* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    height: 100%;
    background-color: #373a59;
} 

.formulario {
    height: calc(100vh);
    width: calc(100vw);
    background-color: #373a59;
}

.content-form {
    margin-top: 10%;
    margin-inline: 50px;
}

/* .form {
    background-color: #373a59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form > div {
    display: block;
} */

/* form {
    display: block;
} */