* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    height: 100%;
    background-color: #373a59;
} 

.formulario {
    height: calc(100vh);
    width: calc(100vw);
    background-color: #373a59;
}

.content-form {
    padding-top: 30px;
    margin-inline: 50px;
}

.close-button {
    display: flex;
    justify-content: end;
    background-color: #373a59;
    padding-top: 10px;
    padding-right: 10px;
}
.close-button > button {
    color: #ffc107;
    text-decoration: none;
}
.close-button > button:hover {
    color: #ffc107;
}